<div class="h-100 row">
  <div class="col-8 mx-auto">
    <ul class="list-unstyled w-100">
      <% @restaurants.each do |restaurant| %>
        <li class="media">
          <img class="mr-3 w-25" src="<%= restaurant["image_url"]["shop_image1"]%>" alt="画像なし"  onerror="this.src='/image.png'">
          <div class="media-body h-25 w-75">
            <h3 class="mt-0 mb-1 r_name"><%= link_to restaurant["name"], restaurants_data_path(id: restaurant["id"]) %></h3>
            <h5 class="mt-0 mb-1">
              <% if restaurant["access"]["station"] %>
                最寄駅:<%= restaurant["access"]["station"] %>
              <% else %>
                最寄駅は不明です
              <% end %>
            </h5>
            <h5 class="mt-0 mb-1">
              <% if restaurant["access"]["walk"] %>
                <%= restaurant["access"]["walk"] %>分
              <% else %>
                距離は不明です
              <% end %>
            </h5>
            <h5 class="mt-0 mb-1">
              <% if restaurant["category"] %>
                カテゴリー:<%= restaurant["category"] %>
              <% else %>
                カテゴリーは不明です
              <% end %>
            </h5>
            <h5 class="mt-0 mb-1">
              <% if restaurant["budget"] %>
                平均予算:<%= restaurant["budget"] %>円
                <% else%>
                平均予算は不明です
              <% end%>
            </h5>
          </div>
        </li>
      <% end %>
    </ul>
    <h5 class="w-100"><%= paginate(@restaurants) %></h5>
  </div>
</div>